body{
    width: 100%;
    height: 880px;
    background-color: #999999;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.header{
    width: 100%;
    height: 10%;
    background-color: #8FBC8F;
    text-align: center;
    padding: 1%;
    color: #2A2A2A;
    font-size: 50px;
    font-weight: bold;
}

.footer{
    width: 100%;
    height: 10%;
    background-color: #8FBC8F;
    text-align: center;
    padding: 1%;
    color: #2A2A2A;
    font-weight: bold;
}

.footer1{
    font-size: 30px;
}

.footer2{
    font-size: 17px;
}

.main{
    width: 100%;
    height: 80%;
    background-color: white;
    text-align: center;
    padding: 2%;
}

.well{
    height: 100%;
}

.form-control{
    width: 50%;
    margin: auto;
}

.form-group{
    text-align: center;
}

.panel-body{
    height: 40%;
    font-weight: bold;
}

#result{
    font-weight: bold;
    font-size: 10px;
}